<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878053601859-81s5j27hqv6g1dla0mrckb3rhjg37ice.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878053601859-81s5j27hqv6g1dla0mrckb3rhjg37ice</string>
	<key>API_KEY</key>
	<string>AIzaSyBmKV7SycW7fU5jWAVSuD8CNzkxIjVKlI4</string>
	<key>GCM_SENDER_ID</key>
	<string>878053601859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexia.Soteria</string>
	<key>PROJECT_ID</key>
	<string>soteria-8a0e1</string>
	<key>STORAGE_BUCKET</key>
	<string>soteria-8a0e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878053601859:ios:45877a20dfe80223f9daf6</string>
</dict>
</plist>